.ag-header-cell-label {
    justify-content: center;
    font-style: italic;
    font-size: 24px;
}

.ag-header-cell {
    background-color: rgb(185, 180, 180);
}

.ag-header-cell {
    border: 1px solid rgb(155, 152, 152);
}

.ag-cell {
    border-left: 1px solid rgb(155, 152, 152);
    border-right: 1px solid rgb(155, 152, 152);
}